.gird{
    width: 1025px;
    max-width: 100%;
    margin: 0 auto;
}
.gird_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.gird_column{
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
}
.gird_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 48%;
}
.gird_column-3{
    padding-left: 5px;
    padding-right: 5px;
    width: 32%;
}

