/* main */
.gird{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.gird_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    justify-content: space-between;
}
.gird_column{
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 14px;
    width: 47%;
}

/* body */
.header{
    height: 70px;
    background-color: #efeaea;
    padding: 4px 12px;
    margin: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
}
.box{
    width: 30px;
    height: 30px;
    background: 2px rgb(213, 220, 20);
    border-radius: 20px;
    margin: 4px 12px;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item i{
    font-size: 20px;
    margin: 0px 16px;
    padding: 0 12px;

}
.home-product{

}
.home-product-item{
    text-decoration: none;


}
.home-product-item-2{
    display: flex;
    flex-wrap: nowrap;

}
.home-product-item_img{
    border: 2px solid #f78598;
    padding: 6px 6px;
    margin: 12px 0;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFC0CB;
    
 }
 .home-information{

 }
 .Star{
    margin: 12px -3px;
 }
 .info{
    margin: 36px -3px;
 }
 .describe{

 }
.describe-content{
    height: 150px;
    border: 1px solid;

}
.staff{
    display: flex;
}
.staff-item{
    margin-right: 36px;
}