/* main */
.gird{
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.gird_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.gird_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.gird_column-8{
    padding-left: 5px;
    padding-right: 5px;
    width: 80.3334%
}  
.gird_column-2-4{
    width: 20%;
    margin: 4px 16px;
    padding: 0px 12px;
}
/* body */
.header{
    height: 70px;
    background-color: bisque;
    padding: 4px 12px;
    margin: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-item i{
    font-size: 20px;
    margin: 0px 16px;
    padding: 0 12px;

}
    
.box{
    width: 30px;
    height: 30px;
    background: 2px crimson;
    border-radius: 20px;
    margin: 4px 12px;
}
.category{
    display: flex;
    flex-direction: column;
    padding: 0px 12px;
    margin: 0px 10px;
    border: 1px solid;
}
.category [class*="ti-"]{
    font-size: 20px;
    margin: 6px 0
}
.home-filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000;

}
.keyword{
    border: 1px solid #ccc;
    padding: 6px 6px;
    margin: 5px 14px;

}
.sort-order{
    display: flex;
    margin: 0 20px;
    padding: 0 20px;

}
.Item-s-o{
    display: flex;
    padding: 3px 6px;
    margin: 0 12px;
    border: 1px solid #ccc;

}
.home-product{

}
.home-product-item{
    text-decoration: none;


}
.home-product-item_img{
width: 200px;
height: 250px;
border: 2px solid #CCC;
padding: 6px 6px;
margin: 12px 0;
color: #ccc;
display: flex;
justify-content: center;
align-items: center;

}
.home-product-item_name{
color: #000;
margin: 12px 2px;
font-weight: 600;

    

}
.home-product-item_price{
color: rgb(12, 111, 111);
margin: 12px 2px;
display: inline;

}
.pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    list-style: none;
    margin: 50px -30px;

}
.pagination-item{
    border: 1px solid #ccc;
    margin: 0 12px;
    border-radius: 10px;
}
.pagination-item-active{
opacity: 0.4;
}
.pagination-item-link{
    display: block;
    color: #939393;
    font-size: 2rem;
    text-decoration: none;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    font-weight: 500;
}
.footer{
    height: 100px;
    background-color: bisque;
    padding: 4px 12px;
    margin: 12px 12px;
}
.footer h4{
    margin: 12px 28px;
}
.footer-item{
    display: inline;
    padding: 4px 12px;
    margin: 12px 12px;
}